/* =====GENERAL===== */

body {
    margin: 0;
    background-color: #fafafa;
    font-family: 'Poppins', sans-serif;
}

p {
    margin: 0px;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.forminput {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    font-size: 16px;
    min-width: 200px;
    width:20vw;
    padding: 5px 20px;
    border: 1px solid #dbd8d8;
    border-radius : 4px;
    color: #000000;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #fafafa;
    margin-top: 10px;
}

.buttonin {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    font-size: 16px;
    min-width: 200px;
    width:20vw;
    padding: 10px 20px;
    border: 1px solid #dbd8d8;
    border-radius : 4px;
    color: #ffffff;
    cursor: pointer;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #000000;
    margin-top: 10px;
}

.left {
    text-align: left;
}

/* =====HEADER===== */

.headbar {
    position : fixed;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    width : 100%;
    border-bottom: 1px solid #dbd8d8;
    z-index: 80;
}

.logodiv {
    padding-left: 30vw;
    padding-right: 20vw;
}

.icons {
    padding-right: 30vw;
    display: flex;
}

.menicon {
    padding: 20px;
    height: 20px;
}

.logoimg {
    height : 30px;
    margin-left: 50px;s
}

.headerspace {
    height: 75px;
}

/* =====HOMEPAGE===== */

.imgdiv {
    max-width: 800px;
    min-width: 300px;
    width:50vw;
    border: 1px solid #dbd8d8;
    border-radius : 4px;
    background-color: #ffffff;
    margin: 30px 10px 30px 10px;
}

.pic {
    width:100%;
}

.pic img {
    width: 100%;
    height: auto;
}

.usr {
    width : 100%;
    padding: 15px;
}

.usr > p {
    size : 14px;
}

.acticon {
    padding: 15px;
    height: 20px;
}

.likebtn {
    padding: 15px;
    height: 20px;
}

.comsection {
    width: 100%-10px;
    margin: 20px 20px 0px 20px;
}

.username {
    margin-right: 10px;
}

.comment {
    margin:5px;
    display: flex;
}

.comments {
    margin-top: 15px;
    margin-bottom: 15px;
    max-height: 300px;
    overflow: scroll;
}

.text {
    width:100%;
    margin-right: 10px;
}

.addcomment {
    padding: 5px;
    width: 100%-20px;
    border-top: 1px solid #dbd8d8;
    display: flex;
    justify-content: space-between;
}

#form {
    width:100%;
}

.commentinput {
    border: 0px;
    width: 100%;
    height: 30px;
}

/* =====ERRMSG===== */

.warnbod {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.warn {
    width: 600px;
    height: 350px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #dbd8d8;
    text-align: center;
    margin-bottom: 20vh;
}

.warning {
    width: 20%;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
    -webkit-appearance: none;
}

.buttoninput {
    margin-left:20px;
    width:500px;
    height:30px;
}

p.buttonin {
    color: #000000;
    display:block;
    width:100%;
    height:100%;
    text-decoration: none;
    margin: 25px;
    padding: 6px;
    background-color: #fafafa;
    border-radius: 4px;
    border: 1px solid #dbd8d8;
    text-align: center;
}
p.buttonin:hover {
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    background-color: #dbd8d8;
    border-radius: 4px;
    border: 1px solid #ffffff;
    text-align: center;
}

/* =====FORMS===== */

.msgerror {
    width:100%;
    color: #ffffff;
    background-color: #fa7878;
    border-radius: 4px;
    border: 1px solid #c66e6e;
    margin:10px;
    padding-top:15px;
    padding-bottom:15px;
}

.msgsuccess {
    width:100%;
    color: #ffffff;
    background-color: #51edb0;
    border-radius: 4px;
    border: 1px solid #62d1a6;
    margin:10px;
    padding-top:15px;
    padding-bottom:15px;
}

.contentform {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentformpanel {
    width: 100%;
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.paneltitle {
    width: 100%;
    padding: 60px;
}

.formbg {
    padding: 30px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #dbd8d8;
    text-align: center;
    margin-bottom: 20vh;
}
/* =====CAMERA===== */
/* sticker and cam */
.buttoncam {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    font-size: 16px;
    min-width: 200px;
    width:310px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #dbd8d8;
    border-radius : 4px;
    color: #ffffff;
    cursor: pointer;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #000000;
    margin-top: 10px;
}

.or {
    margin: 30px;
}

.label-file {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    font-size: 16px;
    min-width: 200px;
    width:310px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #dbd8d8;
    border-radius : 4px;
    color: #000000;
    cursor: pointer;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #ffffff;
    margin-top: 10px;
}

#video {
    width: 320px;
    height: 240px;
    border-radius: 4px;
}

.cameradiv {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding : 5vw;
}

.middiv {
    padding: 30px;
    width : 320px;
    height : 60vh;
    min-height: 300px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #dbd8d8;
    text-align: center;
    margin-bottom: 20vh;
    display: flex;
    justify-content: center;
}

.middiv > .picture
{
    width : 100%;
    height: 2vh;
}

#retakebutton {
    display: none;
}

#canvas {
    display: none;
    width: 320px;
    height: 240px;
    border-radius: 4px;
}

#publishbutton {
    display: none;
}

.leftdiv {
    padding: 30px;
    width : 20vw;
    height : 60vh;
    min-width:320px;
    min-height: 300px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #dbd8d8;
    text-align: center;
    margin-bottom: 20vh;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    justify-content: space-around;
}

.sticker {
    cursor: move;
    z-index: 19;
}

.stickerprev {
    z-index: 20;
    width: 50px;
    margin: 20px;
    opacity: 0.4;
    filter: alpha(opacity=40);
    -khtml-user-drag: element;
}

.label-file {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}
/* userpics */

.shotshistory {
    padding: 30px;
    width : 15vw;
    height : 60vh;
    min-width: 320px;
    min-height: 300px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #dbd8d8;
    text-align: center;
    margin-bottom: 20vh;
    display: flex;
    align-items: center;
}

.sidepic img{
    width: 100%;
    display: inline-block;
    margin-bottom:20px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    display: block;
}

.sidepic {
    position: relative;
}

.removebutton {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    font-size: 16px;
    min-width: 200px;
    width:40px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #000000;
    border-radius : 4px;
    color: #000000;
    cursor: pointer;
    -o-text-overflow: clip;
    text-overflow: clip;
}

.sidepic:hover .prev {
    opacity: 0.3;
}

.sidepic:hover .removebutton {
    opacity: 1;
}

.sidepictures {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

/* =====FOOTER===== */

.footer {
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    width : 100%;
    border: 1px solid #dbd8d8;
}
