body
{
	margin: 0;
	background-image: linear-gradient(to right, rgba(255, 0, 102, .70), rgba(0, 255, 255, .70)), url("http://adwallpapers.xyz/uploads/posts/72720-the-tower-in-paris-city-4k-ultra-hd-wallpaper__cityscapes.jpg");
	background-size: cover;
}

.mandeleiev
{
	padding:1%;
}

.line
{
	height: 10vh;
	display:flex;
}

.empty_line
{
	height: 0vh;
	margin:1%;
}
.tile0
{
	width: 5.5%;
	display: flex;
	flex-direction: column;
	padding: 0.1%;
	font-family: 'Roboto' , regular;
	margin : 0.1%;
	position:relative;
}

.tile1
{
	width: 5.5%;
	display: flex;
	flex-direction: column;
	padding: 0.1%;
	font-family: 'Roboto' , regular;
	margin : 0.1%;
	background-color: #c2c2a3;
}

.tile2
{
	width: 5.5%;
	display: flex;
	flex-direction: column;
	padding: 0.1%;
	font-family: 'Roboto' , regular;
	margin : 0.1%;
	background-color: #ffccb3;
}

.tile3
{
	width: 5.5%;
	display: flex;
	flex-direction: column;
	padding: 0.1%;
	font-family: 'Roboto' , regular;
	margin : 0.1%;
	background-color: #ffffff;
}

.tile4
{
	width: 5.5%;
	display: flex;
	flex-direction: column;
	padding: 0.1%;
	font-family: 'Roboto' , regular;
	margin : 0.1%;
	background-color: #ff9966;
}

.tile5
{
	width: 5.5%;
	display: flex;
	flex-direction: column;
	padding: 0.1%;
	font-family: 'Roboto' , regular;
	margin : 0.1%;
	background-color: #00cc66;
}

.tile6
{
	width: 5.5%;
	display: flex;
	flex-direction: column;
	padding: 0.1%;
	font-family: 'Roboto' , regular;
	margin : 0.1%;
	background-color: #999966;
}

.tile7
{
	width: 5.5%;
	display: flex;
	flex-direction: column;
	padding: 0.1%;
	font-family: 'Roboto' , regular;
	margin : 0.1%;
	background-color: #9999ff;
}

.tile8
{
	width: 5.5%;
	display: flex;
	flex-direction: column;
	padding: 0.1%;
	font-family: 'Roboto' , regular;
	margin : 0.1%;
	background-color: #94b8b8;
}

.tile9
{
	width: 5.5%;
	display: flex;
	flex-direction: column;
	padding: 0.1%;
	font-family: 'Roboto' , regular;
	margin : 0.1%;
	background-color: #ffcc66;
}

.tile10
{
	width: 5.5%;
	display: flex;
	flex-direction: column;
	padding: 0.1%;
	font-family: 'Roboto' , regular;
	margin : 0.1%;
	background-color: #ffe6b3;
}

.tile11
{
	width: 5.5%;
	display: flex;
	flex-direction: column;
	padding: 0.1%;
	font-family: 'Roboto' , regular;
	margin : 0.1%;
	background-color: #ffa64d;
}

.center
{
	display:flex;
	flex-direction: column;
	margin: auto;
}

.atom
{
	align-self: flex-end;
}

a
{
	font-size: 1.4vh;
}

h1
{
	font-size: 2.3vh;
	align-self: center;
}